* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E0D0D0;
}

header {
    display: flex;
    background-color: #FF6BA0;
    justify-content: space-between;
    height: 52px;
}

header #title {
    padding-top: 2vw;
    font-size: 15px;
    color: #fff;
    padding-left: 3vw;
}

header #title h1 {
    font-weight: 200;
}

#menuicon {
    width: 11vw;
    margin-top: 3vw;
    margin-right: 2vw;
    /* display: none; */
}

#menuicon img {
    width: 100%;
}

nav {
    position: absolute;
    margin-top: 52px;
    width: 100vw;
    background-color: #FF7EAC;
    display: none;
}

nav ul li {
    border-bottom: 1px solid #fff;
    padding: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}

main h2 {
    font-size: 22px;
    margin: 10px 10px 5px;
}

main .filmes{
    display: grid;
    grid-template-columns: 23vw 23vw 23vw;
    justify-content: space-evenly;
    align-content: start;
    grid-gap: 3vw;
}

main .capa {
    height: 120px;
}

main img {
    width: 80px;
    height: 100%;
    grid-column: span 3;
}

main .desc {
    display: grid;
    grid-template-columns: 8vw 8vw 8vw;
    justify-content: center;
    align-content: start;
    text-align: center;
    grid-gap: 1vw;
}

.filmes h3 {
    font-size: 14px;
    margin-top: 1vw;
    grid-column: span 3;
}

.filmes p {
    grid-column: span 3;
    font-size: 12px;
}

footer {
    background-color: #FF6BA0;
    padding: 10px;
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

.maisTitulos {
    color: #000;
}

@media only screen and (min-width: 980px){
    header {
        height: 80px;
    }

    header #title {
        font-size: 23px;
        /* padding-top: 12px; */
        padding-top: 1vw;
    }

    #menuicon {
        display: none;
    }

    nav {
        display: block;
        width: fit-content;
        margin-top: 48px;
        background-color: transparent;
        /* align-self: flex-end; */
        margin-left: 55vw;
    }

    nav ul li {
        border-bottom: 0px solid #fff;
        padding: 0px;
        float: left;
        list-style: none;
        margin-right: 2vw;
    }
    
    nav ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 22px;
        display: flex;
    }

    main .filmes{
        grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw;
    }

    main .capa {
        height: 225px;
    }
    
    main img {
        width: 150px;
        height: 100%;
        grid-column: span 6;
    }

    main .desc {
        grid-template-columns: 2vw 2vw 2vw 2vw 2vw;
    }

    .filmes h3 {
        font-size: 20px;
        grid-column: span 5;
    }
    
    .filmes p {
        grid-column: span 5;
        font-size: 16px;
    }

    main h2 {
        font-size: 25px;
        margin: 10px 15px 5px;
    }
}